<h1>Journal App</h1>

<div class="sidebar"></div>
<div class="content"></div>

<script type="application/json" id="bootstrapped_posts">
   { "posts": <%= @posts.to_json %> }
</script>

<script type="text/javascript">
  $(function(){
    var div, data;

    div = $('<div></div>');
    div.html($('#bootstrapped_posts').text());
    data = JSON.parse(div.text());
    JournalApp.initialize(data);
  })
</script>