<form id="post_form">
  <label for"post_title">Title</label>
  <input
    type="text"
    name="post[title]"
    id="post_title"
    value=<%= model.escape('title') %>>
  <br>
  <label for"post_body">Body</label>
  <input
    type="text"
    name="post[body]"
    id="post_body"
    value=<%= model.escape('body') %>>
  <br>

  <input type="submit" value="Submit Post">
</form>

